{:update-day              {:e "user-id"
                           :tl "user-id"
                           :c "company-id"
                           :d "edited-day-str"
                           :jd "edited-day-str"
                           :atypehidden "0"
                           :inclcontracts "1"
                           :job "14095"
                           :allowabsence "3"
                           :allowremarks "0"
                           :task0 "0"
                           :what0 "1"
                           :task1 "0"
                           :what1 "1"
                           :task2 "0"
                           :what2 "1"
                           :task3 "0"
                           :what3 "1"
                           :task4 "0"
                           :what4 "1"
                           :excuse "0"
                           :atype "0"
                           :B1.x "43"
                           :B1.y "13"}}